*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db


# ----------------------------------------------------------------------
# Archivos y carpetas esenciales de Laravel a IGNORAR
# ----------------------------------------------------------------------

/node_modules
/public/hot
/public/storage
/public/build
/public/img/*.jpg
/storage/*.key
/storage/app/public
/storage/*.sqlite
/vendor
.env
.env.testing
/bootstrap/cache/*.php

# Logs y Cache
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*.log

# IDEs (Entornos de Desarrollo)
.vscode
.idea
.DS_Store

# Pruebas de PHPUnit
/phpunit.xml
/coverage

# Composer y NPM
composer.lock
npm-debug.log
yarn-error.log

# ----------------------------------------------------------------------
# EXCLUSIONES ESPECÍFICAS DE TU PROYECTO (Opcional)
# ------------------------------------------------------

# Si creaste algún archivo de prueba o configuración local, añádelo aquí
# Por ejemplo, si tienes alguna carpeta de uploads fuera de public/storage:
#/ruta/de/archivos/subidos